[Desktop Entry]
Name=ASI:Work
Exec=/usr/lib/asi-work/ASI-Work %U
Icon=/usr/share/pixmaps/asi-work.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
